@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root{
  --back: rgb(20 26 31);
}

html{
  background-color: var(--back);
}


.logo{
  width: 60px;
  height: 60px;
}

body .MuiTypography-root{
  color: white;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.MuiTypography-h5:hover{
  background: linear-gradient(to bottom right, #5B7FFF, #33CCFC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.MuiListItemText-root{
  text-align: center;
}

.MuiListItemButton-root{
  color: #99ccff;
}


.MuiList-root{
  background-color: var(--back);
}

.App{
  position: relative;
}

.firstScreen{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.backdrop{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(20, 26, 31, 1), rgba(20, 26, 31, 0), rgba(20, 26, 31, 1));  
}

.mainTitle{
  font-size: clamp(3.5rem, 18vw ,6rem);
  text-align: center;
}

body .mainDesc{
  font-size: clamp(1.25rem, 5vw , 2.125rem);
  text-align: center;
}

.arrowContainer {
  margin-top: 10vh;
  position: relative;
}

.arrowContainer div span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  animation: bob 1.5s infinite;
  box-sizing: border-box;
}

.profile{
  width: 80%;
  height: auto;
  max-width: 250px;
  border-radius: 50%;
  border: 2px solid #fff;
}

#aboutTitle{
  margin-bottom: 22px;
  font-size: clamp(2.75rem, 5vw, 5.75rem);
  background: linear-gradient(to bottom right, #5B7FFF, #33CCFC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#aboutBody{
  margin-top: 15px;
  line-height: 1.8;
  font-size: clamp(1rem, 2vw, 2.25rem);
}



@keyframes bob {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

@media screen and (min-width: 600px) {
  .profile{
    width: 35%;
    border-radius: 50%;
    border: 2px solid #fff;
    height: fit-content ;
    margin: 0 0 40px 30px;
    max-width: none;
  }
}

@media only screen and (min-width: 900px){
  .logo{
    width: 80px;
    height: 80px;
  }
}





