@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root{
  --back: rgb(20 26 31);
}

html{
  background-color: var(--back);
}


.logo{
  width: 60px;
  height: 60px;
}

body .MuiTypography-root{
  color: white;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.MuiTypography-h5:hover{
  background: linear-gradient(to bottom right, #5B7FFF, #33CCFC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.MuiListItemText-root{
  text-align: center;
}

.MuiListItemButton-root{
  color: #99ccff;
}


.MuiList-root{
  background-color: var(--back);
}

.App{
  position: relative;
}

.firstScreen{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.backdrop{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(20, 26, 31, 1), rgba(20, 26, 31, 0), rgba(20, 26, 31, 1));  
}

.mainTitle{
  font-size: clamp(3.5rem, 18vw ,6rem);
  text-align: center;
}

body .mainDesc{
  font-size: clamp(1.25rem, 5vw , 2.125rem);
  text-align: center;
}

.arrowContainer {
  margin-top: 10vh;
  position: relative;
}

.arrowContainer div span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  animation: bob 1.5s infinite;
  box-sizing: border-box;
}

.profile{
  width: 80%;
  height: auto;
  max-width: 250px;
  border-radius: 50%;
  border: 2px solid #fff;
}

#aboutTitle{
  margin-bottom: 22px;
  font-size: clamp(2.75rem, 5vw, 5rem);
  background: linear-gradient(to bottom right, #5B7FFF, #33CCFC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#aboutBody{
  margin-top: 15px;
  line-height: 1.8;
  font-size: clamp(1rem, 2vw, 2.25rem);
}

.experienceHead{
  font-size: clamp(2.75rem, 5vw, 5rem);
  background: linear-gradient(to bottom right, #5B7FFF, #33CCFC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10vh;
}


/* Timeline Container */
.timeline {
  margin: 20px auto;
  padding: 20px;
}

/* Card container */
.card {
  position: relative;
  max-width: clamp(34.375rem, 2.404rem + 73.077vw, 93.75rem);
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid #5B7FFF;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  background: #333;
  border-radius: 10px;
  padding: 10px;
}

/* Title of the card */
.extitle {
  color: #5B7FFF;
  position: relative;
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: 500;
  line-height: clamp(2.4rem, 4vw , 4.8rem);
}

.explace{
  color: rgb(194, 213, 255);
  font-size: clamp(1.125rem, 3vw, 2.25rem);
  font-weight: 400;
  line-height: clamp(1.8rem, 5vw, 4rem);
}

.exdate{
  color: rgb(220, 231, 255);
  font-size: clamp(0.94rem, 2vw , 1.5rem);
  font-weight: 400;
  line-height: clamp(1.5rem, 5vw, 2.75rem);
  margin-bottom: 15px;
}

.exdescription{
  font-weight: 400;
  color: white;
  font-size: clamp(1rem, 1.5vw, 1.75rem);
  line-height: clamp(1.6rem, 3vw, 3rem);
}

/* Timeline dot  */
.extitle::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid white;
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .extitle, .card:nth-child(even) > .info > .exdate, .card:nth-child(even) > .info > .explace {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .extitle::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .extitle::before {
  right: -45px;
}




@keyframes bob {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

@media screen and (min-width: 600px) {
  .profile{
    width: 35%;
    border-radius: 50%;
    border: 2px solid #fff;
    height: fit-content ;
    margin: 0 0 40px 30px;
    max-width: none;
  }
}

@media only screen and (min-width: 900px){
  .logo{
    width: 80px;
    height: 80px;
  }
}





